<h1>All products listed here :</h1>

<ul>

  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %> <i>by</i> <%= product.brand%></li>
  <% end %>

</ul>

<%= link_to "Add a product", new_product_path %>
